<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title>Makers BnB!</title>
  </head>
  <body>
    <center>
      <p>
        <form action="//" method="post">
          <input type="text" name="space-title" placeholder="Space name:" class="userentry">
          <input type="text" name="space-description" placeholder="Space description:" class="userentry" width="500" height="200">
          <input type="submit" value="CREATE SPACE" class="submit-buttons">
        </form>
      </p>
      <br>
      <br>
      <br>
      <p>
        <a id="signup" href="/users/new">Sign Up</a>
      </p>
      <% if @user != nil %>
      <h1>Welcome <%= @user.username %></h1>
      <% end %>
      <p>
        <form action="/sessions/destroy" method="post">
        <button type="submit">Sign Out</button>
        </form>
        <br>
        <form action="/sessions" method="post">
          <input type="text" name="username" placeholder="User name:" class="userentry">
          <input type="text" name="password" placeholder="Password:" class="userentry">
          <input type="submit" value="Submit" class="submit-buttons">
        </form>
      </p>
      <p>
        <% @properties.each do |property| %>
        <%= property.address %>
        <% end %>
    </center>
  </body>
</html>
