<html>
<head>
  <title><%= @user.username %> profile</title>
</head>
<body>
  <h1><%= @user.username %> profile</h1>
<p>
  You are <%= @user.username %>
  Your email address is <%= @user.email %>
</p>

</body>
</html>
