<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/signup.css">
    <!-- The following link stylesheet is for Bootstap Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sign Up!</title>
  </head>
    <body>
      <header>
        <a href="/"><img src="https://image.ibb.co/hJX9iH/mbb_logo.png" align="right" width="800" alt="logo"/></a>
        <nav>
          <ul>
            <li><i class="glyphicon glyphicon-home"></i><a name="Home" href="/"></a></li></button>
            <li><i class="glyphicon glyphicon-user"></i><a name="Users" href="/users/new"></a></li>
          </ul>
        </nav>
      </header>
        <center>
          <div class="webpanel">
            <%= styled_flash %>
              <img src="https://image.ibb.co/dau0qx/mbb_registertext.png" float="left" width="250" height="100" alt="signin"/>
              <br>
              <form action="/users" method="POST">
                <label for="username">USERNAME:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="email">EMAIL:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="password">PASSWORD:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit">
              </form>
          </div>
        </center>
      </body>
</html>
