/* Even though this looks vacuous, we need this because it sets the line-spacing to "not-fucked" */

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(WhiteSmoke, White); /* gradient background shading */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Stencil std", fantasy; /* it's not papyrus, ok??! */
}

/* the following sections are responsible for the text box animation */

input[type=text]:focus {
  width: 50%;
}

input[type=email]:focus {
  width: 50%;
}

input[type=password]:focus {
  width: 50%;
}

input[type=text] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  box-sizing: border-box;
  border: 2px groove #cccccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=email] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  box-sizing: border-box;
  border: 2px groove #cccccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=password] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  box-sizing: border-box;
  border: 2px groove #cccccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* the following section is responsible for big opaque panel that frames all of the property stuff */

.webpanel {
  text-align: left;
  margin-top: 80px;
  width: 1000px;
  background: rgba(192,192,192,0.3); /* this sets the level of opacity, and the colour of the panel */
  padding: 40px;
  border-radius: 20px;
  border-color: gray;
  border-style: ridge;
  font-family: "Marker Felt", fantasy;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* everything below this point edits the nav bar, and is basically the same on each page at the moment */

ul {
  list-style-type: none;
  position: static;
  overflow: auto;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin-top: 20px;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  border-right: 3px groove Gray;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
}

li a.active {
  text-decoration: underline;
  text-decoration-color: Greenyellow;
  text-decoration-style: wavy;
}

header img,header nav {
  display:inline-block;
  vertical-align:middle;
 }

li a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-color: Greenyellow;
    text-decoration-style: groove;
}
